* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS du corps ******************************************************************/
.pad10 {
    padding: 0 10%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 0.9rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}
/* CSS du header *****************************************************************/
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

#lien-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lien-menu ul {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#lien-menu li {
    margin: 15px;
    list-style-type: none;
}


#login {
    color: #fff;
    background-color: rgb(71, 71, 71);
    padding: 15px 30px;
}


/* CSS de la section 1 ************************************************************/

.contain {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.w25 {
    width: 20%;
    text-align: center;
    padding: 30px 0;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.w30 {
    width: 50%;
}