*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS du corps ******************************************************************/
.pad10 {
    padding: 0 10%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.underline:hover {
    text-decoration: underline;
}

p {
    font-size: 0.9rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}
/* CSS du header *****************************************************************/
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

#logo:hover {
    width: 60px;
    
}

#lien-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lien-menu ul {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#lien-menu li {
    margin: 15px;
    list-style-type: none;
}


#login {
    color: #fff;
    background-color: rgb(71, 71, 71);
    padding: 15px 30px;
    border: 1px solid black;
}

#login:hover {
    color: black;
    background-color: #fff;
    border: 1px solid black;
}


/* CSS de la section 1 ************************************************************/

.sect1 {
    padding-bottom: 50px;
}

.contain {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.w25 {
    width: 20%;
    text-align: center;
    padding: 30px 0;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.w30 {
    width: 50%;
}

.droite {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ref {
    position: relative;
}

#flottant {
    position: absolute;
    bottom: -150px;
    right: 25%;
}

/* CSS de la section 2 ********************************** */
.sect2 {
    margin: 50px 0 270px;
    position: relative;
}
.w50 {
    display: flex;
    justify-content: space-between;
}
.w40 {
    width: 70%;
    height: 60vh;
    display: flex;
    background-color: grey;
    padding: 100px 10%;
}
.w40 p {
    margin: 15px;
}

.fleche {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 120px;
    right: 5px;
}

.carte {
    width: 15%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}

.w50-bas {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: -250px;
}

.arrow-left {
    border-left: 5px solid black;
    border-top: 5px solid black;
    width: 25px;
    height: 25px;
    transform: rotate(-45deg);
    margin-top: 37px;
    margin-right: 26.5%;
    float: right;
    }

.arrow-right {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    width: 25px;
    height: 25px;
    transform: rotate(-45deg);
    margin-top: 37px;
    margin-right: 26.5%;
    float: right;
    }


/* ***************************************************** */

/* PARAGRAPHE */
.row-reverse{
    flex-direction: row-reverse;
}

.calculator{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.calculator img{
    height: 300px;
    padding: 0 50px;
}

.calculator h2{
    position: relative;
}

.calculator h2::before{
    content:'';
    position: absolute;
    border-bottom: #dcd9cf 8px solid;
    width: 40px;
    margin: 16px 20px 0 0;
    z-index: -1;
}

.text{
    width: 25%;
    margin-top: 200px;
    font-size: 0.8rem;
}

.text h2{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.text h3{
    font-size: 1.0rem;
}

.text p{
    padding: 5px 0;
}

.star{
    color: #dcd9cf;
    font-size: 2.0rem;
}   

